@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-family: 'Poppins';
}
body {
	font-family: 'Muli';
}
.clear{
	margin:0;
	padding:0;
}
.portfolio-bg-1{background-image: url(../img/portfolio-1.jpg);}
.portfolio-bg-2{background-image: url(../img/portfolio-2.jpg);}
.portfolio-bg-3{background-image: url(../img/portfolio-3.jpg);}
.portfolio-bg-4{background-image: url(../img/portfolio-4.jpg);}
.portfolio-bg-5{background-image: url(../img/portfolio-5.jpg);}
.portfolio-bg-6{background-image: url(../img/portfolio-6.jpg);}
.portfolio-bg-7{background-image: url(../img/portfolio-7.jpg);}
.portfolio-bg-8{background-image: url(../img/portfolio-8.jpg);}
.portfolio-bg-9{background-image: url(../img/portfolio-9.jpg);}
.portfolio-bg-10{background-image: url(../img/portfolio-10.jpg);}
.portfolio-bg-11{background-image: url(../img/portfolio-11.jpg);}

/* header area*/
.logo a {
    color: #000000;
}
.logo h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Muli';
    display: inline-block;
    position: relative;
}
.logo h1 span {
    position: absolute;
    right: -10px;
    top: 3px;
    font-size: 8px;
}
.menu-trigger span {
    display: block;
    height: 2px;
    background: #000;
    transition: .2s;
}
.menu-trigger span:nth-child(2) {
    margin: 7px 0;
}
.menu-trigger {
    display: inline-block;
    width: 30px;
}
.menu-trigger:hover span:nth-child(1),.menu-trigger:hover span:nth-child(3) {
    margin: 0 5px;
}
.header-area {
    padding: 40px 30px;
}

/*portfolio area*/

.portfolio-list{
	overflow: hidden;
}
.single-portfolio-item {
    float: left;
    width: 25%;
    height: 330px;
    background-size: 100%;
    background-position: center;
    background-color: #ddd;
    display: table;
    transition: .5s;
}
.portfolio-hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.portfolio-hover a {
    color: #000;
}
.portfolio-hover h2 {
    font-size: 24px;
}
.portfolio-hover p {
    font-size: 12px;
    text-transform: uppercase;
    opacity: .5;
}
.portfolio-hover p:hover {
    opacity: 1;
}
.single-portfolio-item:hover .portfolio-hover {
    visibility: visible;
    opacity: 1;
}
.single-portfolio-item:hover {
    background-size: 120%;
}

.single-portfolio-item.long {
    height: 660px;
    width:25%;
}
.single-portfolio-item.boxed {
    height:660px;
    width: 50%;
}
.footer-area {
    background: #613AD6;
    font-size:18px;
    line-height:2;
    padding: 70px 0;
    position: fixed;
    bottom:0;
    width:100%;
}
.footer-area, .footer-area a {
    color: #fff;
}
.footer-area a {
    opacity: .7;
}
.footer-area h2 a {
    opacity: 1;
}
.footer-area p {
    opacity: .8;
}
h2.footer-logo {
    font-size: 22px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

h2.footer-logo span {
    position: absolute;
    font-size: 8px;
    right: -10px;
    top: 3px;
}

.footer-area h2 {
    font-size: 22px;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio-list {
    position: relative;
    z-index: 2;
    margin-bottom:305px;
 
}
.header-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.offcanvas-menu {
	position: fixed;
	top: 0;
	right: -40%;
	z-index: 99;
	background: #fff;
	height: 100%;
	width: 40%;
	padding: 40px;
	transition: .4s;
}
.offcanvas-menu.active{
	right: 0;
}
.menu-bottom-section {
  position: absolute;
  bottom: 60px;
  left: 60px;
  max-width: 315px;
}
.offcanvas-boxed-tex {
  background: #EFEDFF;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}
.social-links a {
  color: #B5B4C2;
  font-size: 24px;
  display: inline-block;
  padding-right: 10px;
}
.social-links {
  margin-top: 18px;
}
.offcanvas-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 20px;
}
.offcanvas-menu ul li a {
  color: #100865;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.menu-item-wrap {
  width: 100%;
  display: table;
  height: 100%;
}
.menu-item-inner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 200px;
}

.menu-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 100%;
  border-left: 1px solid #E4E4E4;
}
.menu-close i.fa {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  text-align: center;
  font-size: 27px;
  line-height: 40px;
  cursor: pointer;
}
.offcanvas-menu-overlay {
	position: fixed;
	content:"";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 3;
	opacity: 0;
	visibility: hidden;
}
.offcanvas-menu-overlay.active{
	opacity:.4;
	visibility: visible;
}
.header-area.headroom--pinned {
    position: fixed;
}

