*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-weight:400;
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	font-family: 'Playfair Display', serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.product-bg-1{background-image: url(../img/bg-1.jpg);}
.product-bg-2{background-image: url(../img/bg-2.jpg);}
.product-bg-3{background-image: url(../img/bg-3.jpg);}
.product-bg-4{background-image: url(../img/bg-4.jpg);}
.product-bg-5{background-image: url(../img/bg-5.jpg);}

.section-titel {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.section-padding {
    padding: 80px 0;
}

.product-bg {
    background-size: cover;
    background-color: #ddd;
    background-position: center top;
    height: 330px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
}

.triker {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #333;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 11px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.triker-green {
    background: #2AB89D;
}

.triker-red {
    background: #F84F4C;
}

.product-bottom-hover {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    background: #fff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    bottom: -22px;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.product-bottom-hover a {
    display: block;
    float: left;
    width: 33.333%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 12px;
    color: #333;
}

.product-bottom-hover a:hover {
    background: #333;
    color: #fff;
}

.product-bottom-hover h4 {}

.single-product-box {
    text-align: center;
}

.single-product-box h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
}

p.product-price {
    margin: 0;
    font-weight: 700;
    font-size: 110%;
    color: #333;
}

.single-product-box:hover .product-bottom-hover {
    opacity: 1;
    visibility: visible;
    bottom: 30px;
}

.product-carousel .owl-nav i.fa {
  position:absolute;
  height: 30px;
  width: 30px;
  background: #949494;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  border-radius: 50%;
  left: -15px;
  top: 50%;
  margin-top: -75px;
}
.product-carousel .owl-nav .owl-next i.fa {
	left: auto;
	right: -15px;
}
