@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
}
.section-padding{
	padding:80px 0;
}
.styled-bg-1{background-image: url(../img/bg1.jpg);}
.footer-top-area {
    background: #F4F4F4;
    padding: 60px 0;
    color: #777;
    margin-top:200px;
}
.footer-top-area h2 {
    color: #212121;
    font-size: 30px;
}
.newsletter-form input[type=email] {
    background: none;
    border: none;
    padding: 10px 10px;
    width: 70%;
}
.newsletter-form input[type=email] {
    border-bottom: 2px solid #D0D0D0;
}
.newsletter-form button {
    border: none;
    background: none;
    padding: 10px 10px;
    float: right;
    width: 23%;
}
.newsletter-form button {
    border-bottom: 2px solid #C0A355;
}
.newsletter-form {
    margin-top: 10px;
    margin-left: 12px;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu li {
    display: inline-block;
}
.footer-menu li a {
    padding-left: 20px;
    color:#333;
}
.social-links a {
    padding-left: 10px;
    color: #333;
}
.social-links {
}
.footer-menu {
    margin-bottom: 22px;
    margin-top: 35px;
}
.copyright-text {
    margin-top: 30px;
}
.styled-bg-inner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.styled-bg {
    height: 460px;
    position: absolute;
    width: 367px;
    left: -210px;
    bottom: 0;
    z-index:2;
}

.footer-bottom-area .container {
    position: relative;
}
.styled-bg::after{
	position: absolute;
	content:"";
	left:-20px;
	bottom:-20px;
	width:100%;
	height:100%;
	background:#ddd;
	z-index:-1;
}