@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
}
.section-padding{
	padding:150px 0;
}

.special-bg-section:before{
	background-image:url(../img/bg-1.jpg);
}
.special-bg-section {
    background: #F3F3F3;
    border: 1px solid #E5E4E5;
    position: relative;
    padding-left:55%;
    padding-right: 50px;
    padding-top:100px;
    padding-bottom:100px;
}
.boxed-btn {
    display: inline-block;
    background: #9FBF42;
    padding: 10px 25px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
}

.special-bg-section:before {
    position: absolute;
    left: 0;
    top: -25%;
    width: 50%;
    height: 150%;
    content: "";
    background-size: cover;
    background-position: center top;
    background-color: #ddd;
}

.special-bg-section:after {
    position: absolute;
    content: "";
    right: -40px;
    bottom: -40px;
    height: 100%;
    width: 50%;
    border: 4px solid #9FBF42;
    z-index: -1;
}