*{
	margin:0;
	padding:0;
}
button:focus{
	outline:0;
}
a:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-weight:400;
}
.clear{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
body {
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.slide-bg-1{background-image: url(../img/bg-1.jpg);}
.slide-bg-2{background-image: url(../img/bg-2.jpg);}
.slide-bg-3{background-image: url(../img/bg-3.jpg);}

.boxed-btn, .welcome-area:after{
background: #005998;
background: -moz-linear-gradient(left,  #005998 1%, #0095be 100%); 
background: -webkit-linear-gradient(left,  #005998 1%,#0095be 100%); 
background: linear-gradient(to right,  #005998 1%,#0095be 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005998', endColorstr='#0095be',GradientType=1 );
}

.welcome-area {
    position: relative;
    z-index: 1;
    padding-bottom:100px;
}

.welcome-area:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: -1;
}
.logo a, .mainmenu a {
    color: #fff;
}
.logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    padding: 9px 0;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 18px 17px;
    text-transform: uppercase;
    font-size: 14px;
}

.right-content a {
    color: #333;
}
.social-links {
    display: inline-block;
    margin-right: 30px;
    border-left: 1px solid #E7E6E7;
    padding-left: 30px;
    margin-left: 20px;
}
.social-links a {
    display: inline-block;
    padding: 0 5px;
    font-size: 15px;
}
.right-content {
    padding-top: 16px;
}
.header-area {
    padding: 20px 0;
}
.single-slide-item {
    height: 500px;
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    background-color: #000;
}

.slide-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.slide-text {
    max-width: 700px;
    color: #fff;
    padding: 100px;
}

.slide-text h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #5AAFD1;
}

.slide-text h2 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 50px;
}

.boxed-btn {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 8px 20px;
    text-transform: uppercase;
}
.home-page-slides i.fa {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 20px;
    opacity: .5;
}