@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
}
.section-padding{
	padding:80px 0;
}

.section-titel h2 {
    position: relative;
    z-index: 2;
    font-size: 35px;
    color: #292929;
}

.section-titel h2:after {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 4px;
    height: 100%;
    background: #FFBB00;
}

.section-titel {
    margin-bottom: 40px;
}

.service-icon {
    color: #FFBB00;
    font-size: 50px;
}

.single-service-box {
    margin-bottom: 40px;
}

.single-service-box h3 {
    color: #4452BC;
}

.bordered-box {
    border: 7px solid #FFBB00;
    padding: 40px;
    margin-left: 30px;
    margin-top: 70px;
    margin-right: 70px;
    position:relative;
}

.bordered-box-img {
    margin-top: -110px;
    margin-bottom: 40px;
    margin-right: -110px;
    width: 540px;
    max-width: 124%;
}
.bordered-box-readmore-btn {
    position: absolute;
    transform: rotate(270deg);
    text-transform: uppercase;
    color: #4452BC;
    font-size: 18px;
    font-weight: 700;
    bottom: 46px;
    right: -100px;
}

a.bordered-box-readmore-btn i.fa {
    margin-right: 16px;
}