@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
}
.section-padding{
	padding:80px 0;
}
.section-bg{background-image: url(../img/bg.jpg);}

.section-bg {
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  color: #fff;
}
.section-blue-overlay,.section-black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: deepskyblue;
  z-index: -1;
  opacity: 0.7;
}

.section-black-overlay {
  left: auto;
  right: 0;
  width: 60%;
  background: #000;
  opacity: .5;
}
.single-service-box {
  position: relative;
  padding-left: 35px;
  margin-bottom: 35px;
}
.single-service-box i.fa {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 20px;
}

.section-titel p {
  font-style: italic;
}
.section-titel h2 {
  font-size: 45px;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
}
.section-titel h2:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 135px;
  height: 2px;
  background: deepskyblue;
}