@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900&display=swap');
*{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration:none;
}
button:focus{
	outline:0;
}
a:focus,input:focus,textarea:focus,button:focus{
	outline:0 solid;
}
img{
	max-width:100%;
	height:auto;
}
h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
}
html,body{
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #626262;
	line-height: 1.714;
	font-size:14px;
}
.clear{
	margin:0;
	padding:0;
}
.section-padding{
	padding:260px 0;
}
.section-bg-1{
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-position: center top;
	height:100%;
}

.section-overlay {
  position: relative;
  z-index: 1;
  color: #fff;
}
.section-overlay:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  z-index: -1;
  opacity: 0.6;
  transition: .3s;
}
h4 {
  font-size: 18px;
}
.video-play-btn {
  color: #fff;
  background: #0074E8;
  padding: 10px 35px;
  display: inline-block;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 30px;
}
.section-overlay:hover:after {
  opacity: .8;
}