/*Medium layout 1200px*/
@media only screen and (min-width: 992px) and (max-width:1200px){
.singel-product-item {
	height: 250px;
	margin-bottom:15px;
}
.singel-product-item:nth-child(2) {
	height: 520px;
}

/*Tablet layout 768px*/
@media only screen and (min-width: 768px) and (max-width:991px){
.big-menu li {
	font-size: 30px;
}
.big-menu li a {
	padding: 100px 30px 30px;
}
.singel-product-item {
	width: 31.3333%;
	background-size: 100%;
}
.singel-product-item:nth-child(2),
.singel-product-item:nth-child(4),
.singel-product-item:nth-child(9){
	width: 64.333%;
}


/* Wide Mobile layout 480px*/
@media only screen and (max-width:767px){

}

/*Medium layout 1200px*/
@media only screen and (min-width: 480px) and (max-width:767px){

}
